.creature-card-content {
    text-align: left;
}

.divider {
    height: 5px;
    background-color: #922610;
    border-color: aliceblue;
}

.red {
    color: #6D0000;
}

.action_header {
    font-variant: small-caps;
    color: #6D0000;
}